{% extends 'ISworkshop/index.html' %}
{% load static %}
{% block title %}<title>Profile Page</title>{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
{% for post in posts %}
<div class="card" style="width: 18rem; margin-top: 150px; margin-left: 100px;">
    <img class="card-img-top" src="{{post.profile_picture.url}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{post.first_name}} {{post.last_name}}</h5>
      <p class="card-text">CAPES Miles Points: 550</p>
    </div>
</div>


				<li class="list-group-item">Email: {{post.email}}</li>
        <li class="list-group-item">Graduation Year: {{post.graduation_year}}</li>
        <li class="list-group-item">Date joined: {{post.date_joined}}</li>
        <li class="list-group-item">Degree: {{post.degree}}</li>
        <li class="list-group-item">Program: {{post.program}}</li>
        <li class="list-group-item">Student Number: {{post.student_number}}</li>
        <li class="list-group-item">Last login: {{post.last_login}}</li>

{% endfor %}

<button type="button" class="btn btn-primary" style="margin-left:100px; margin-top: -100px;"><a href="{% url 'profilepageforms' %}" style="color: white;">Edit Profile Page</a></button>
{% endblock content %}